{% extends "base.html" %} {% block content %}
<div class="question-function">
    <h2>新增單一題目功能</h2>
    <p>輸入以下資訊，新增題目</p>
    <form
        action="/teacher/question/create"
        method="post"
        enctype="multipart/form-data"
    >
        <label for="file"
            >選擇要上傳的題目<br />(檔名格式：M-xxx.jpg / N-xxx.jpg)</label
        >
        <input type="file" name="file" id="file" required />
        <label for="answer">請輸入本題的答案</label>
        <input
            type="text"
            name="answer"
            pattern="[ABCD]{1,4}"
            title="答案只能是大寫 A、B、C、D 的組合"
            required
        />
        <button type="submit">建立</button>
    </form>
    {% if error_single %}
    <p style="color: red">{{ error_single }}</p>
    {% endif %} {% if success_single %}
    <p style="color: green">{{ success_single }}</p>
    {% endif %}
</div>

<div class="question-function">
    <h2>新增多題題目功能</h2>
    <p>輸入 zip 檔 (包含一份題目 csv 清單及所有的題目 jpg 圖檔)，一次新增多題題目</p>
    <form
        action="/teacher/questions/create"
        method="post"
        enctype="multipart/form-data"
    >
        <label for="file">選擇要上傳的 zip 檔</label>
        <input type="file" name="file" id="file" required />
        <button type="submit">建立</button>
    </form>
    {% if error_multiple %}
    <p style="color: red">{{ error_multiple }}</p>
    {% endif %} {% if success_multiple %}
    <p style="color: green">{{ success_multiple }}</p>
    {% endif %}
</div>
{% endblock %}
