{% extends "base.html" %} {% block content %}
<div class="question-function">
    <h2>刪除單一題目功能</h2>
    <p>輸入題目編號，刪除指定題目</p>
    <form action="/question/delete" method="post">
        <label for="filename">題目編號 (格式：M-xxxx / N-xxxx)</label>
        <input type="text" id="filename" name="filename" required />
        <button type="submit">刪除</button>
    </form>
    {% if success_single %}
    <p style="color: green">{{ success_single }}</p>
    {% endif %} {% if error_single %}
    <p style="color: red">{{ error_single }}</p>
    {% endif %}
</div>

<div class="question-function">
    <h2>刪除多題題目功能</h2>
    <p>輸入 csv 檔，一次刪除多題題目</p>
    <form
        action="/question/delete/bulk"
        method="post"
        enctype="multipart/form-data"
    >
        <label for="file">選擇要上傳的 csv 檔</label>
        <input type="file" name="file" id="file" required />
        <button type="submit">建立</button>
    </form>
    {% if success_multiple %}
    <p style="color: green">{{ success_multiple }}</p>
    {% endif %} {% if error_multiple %}
    <p style="color: red">{{ error_multiple }}</p>
    {% endif %}
</div>
{% endblock %}
