{% extends "base.html" %} {% block content %}
<div class="question-function">
    <h2>搜尋題目功能</h2>
    <p>輸入題目編號，搜尋該題目資訊</p>
    <form action="/teacher/question/read" method="post">
        <label for="question_id">題目編號 (格式：M-xxxx / N-xxxx)</label>
        <input
            type="text"
            id="filename"
            name="filename"
            pattern="[MN]-\d{4}"
            title="題目編號格式錯誤，請輸入 M-xxxx 或 N-xxxx"
            required
        />
        <button type="submit">搜尋</button>
    </form>
    {% if question %}
    <p style="color: green">題目編號: {{ question.image_name }}</p>
    <p style="color: green">所屬科目：{{ question.subject }}</p>
    <p style="color: green">答案: {{ question.answer }}</p>
    {% endif %} {% if error_single %}
    <p style="color: red">{{ error_single }}</p>
    {% endif %}
</div>

{% if question %}
<div class="question">
    <img
        src="{{ url_for('get_question_image', question_id=question.id) }}?token={{ question.token }}"
        alt="題目圖片"
    />
</div>
{% endif %}

<div class="question-function">
    <h2>列出題目清單功能</h2>
    <p>輸出指定科目的題目 csv 清單 (含題目檔名、答案)</p>
    <form action="/teacher/question/read/bulk" method="post">
        <select id="subject" name="subject" required>
            <option value="math">數學科題目</option>
            <option value="nature_science">自然科題目</option>
        </select>
        <button type="submit">產生</button>
    </form>
    {% if error_multiple %}
    <p style="color: red">{{ error_multiple }}</p>
    {% endif %}
</div>
{% endblock %}
