{% extends "base.html" %} {% block content %}
<div class="user-function">
    <h2>刪除單一使用者功能</h2>
    <p>輸入指定帳號，刪除指定使用者 (含過去考試紀錄)</p>
    <form action="/user/delete" method="post">
        <label for="username">帳號 (身分證字號)</label>
        <input type="text" id="username" name="username" required />
        <button type="submit">刪除</button>
    </form>
    {% if success_single %}
    <p style="color: green">{{ success_single }}</p>
    {% endif %} {% if error_single %}
    <p style="color: red">{{ error_single }}</p>
    {% endif %}
</div>

<div class="user-function">
    <h2>刪除多個使用者功能</h2>
    <p>輸入 csv 檔，一次刪除多個使用者 (含過去考試紀錄)</p>
    <form
        action="/user/delete/bulk"
        method="post"
        enctype="multipart/form-data"
    >
        <label for="file">選擇要上傳的 csv 檔</label>
        <input type="file" name="file" id="file" required />
        <button type="submit">建立</button>
    </form>
    {% if success_multiple %}
    <p style="color: green">{{ success_multiple }}</p>
    {% endif %} {% if error_multiple %}
    <p style="color: red">{{ error_multiple }}</p>
    {% endif %}
</div>
{% endblock %}
