{% extends "base.html" %} {% block content %}
<div class="user-function">
    <h2>新增使用者功能</h2>
    <p>輸入以下資訊，新增使用者</p>
    <form action="/teacher/user/create" method="post">
        <label for="username">帳號 (身分證字號)</label>
        <input type="text" id="username" name="username" required />
        <label for="password">密碼</label>
        <input type="text" id="password" name="password" required />
        <label for="name">使用者名稱</label>
        <input type="text" id="name" name="name" required />
        <label for="role">使用者身份</label>
        <select id="role" name="role" required>
            <option value="student">學生</option>
            <option value="teacher">老師</option>
        </select>
        <button type="submit">建立</button>
    </form>
    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %} {% if success %}
    <p style="color: green">{{ success }}</p>
    {% endif %}
</div>
{% endblock %}
