{% extends "base.html" %} {% block content %}
<div class="user-function">
    <h2>新增單一使用者功能</h2>
    <p>輸入以下資訊，新增使用者</p>
    <form action="/user/create" method="post">
        <label for="username">帳號 (身分證字號)</label>
        <input type="text" id="username" name="username" required />
        <label for="password">密碼</label>
        <input type="text" id="password" name="password" required />
        <label for="name">使用者名稱</label>
        <input type="text" id="name" name="name" required />
        <label for="role">使用者身份</label>
        <select id="role" name="role" required>
            <option value="student">學生</option>
            <option value="teacher">老師</option>
        </select>
        <button type="submit">建立</button>
    </form>
    {% if success_single %}
    <p style="color: green">{{ success_single }}</p>
    {% endif %} {% if error_single %}
    <p style="color: red">{{ error_single }}</p>
    {% endif %}
</div>

<div class="user-function">
    <h2>新增多個使用者功能</h2>
    <p>輸入 csv 檔，一次新增多個使用者</p>
    <form
        action="/user/create/bulk"
        method="post"
        enctype="multipart/form-data"
    >
        <label for="file">選擇要上傳的 csv 檔</label>
        <input type="file" name="file" id="file" required />
        <button type="submit">建立</button>
    </form>
    {% if success_multiple %}
    <p style="color: green">{{ success_multiple }}</p>
    {% endif %} {% if error_multiple %}
    <p style="color: red">{{ error_multiple }}</p>
    {% endif %}
</div>
{% endblock %}
