{% extends "base.html" %} {% block content %}
<div class="user-function">
    <h2>查詢指定學生紀錄功能</h2>
    <p>輸入指定帳號，查詢指定學生資訊</p>
    <form action="/user/read" method="post">
        <label for="username">帳號 (身分證字號)</label>
        <input type="text" id="username" name="username" required />
        <button type="submit">查詢</button>
    </form>
    {% if success_single %}
    <p style="color: green">{{ success_single }}</p>
    {% endif %} {% if error_single %}
    <p style="color: red">{{ error_single }}</p>
    {% endif %}
</div>

<div class="user-function">
    <h2>列出所有使用者功能</h2>
    <p>將所有使用者的詳細資訊輸出到 csv 檔案中</p>
    <form action="/user/read/bulk" method="post">
        <button type="submit">產生</button>
    </form>
</div>
{% endblock %}
